In [ ]:
## Read the dataset from the below link 
https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US _Baby_Names/US_Baby_Names_right.csv

In [1]:
import os
import pandas as pd
import matplotlib

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

In [ ]:
## 1. Delete unnamed columns

In [8]:
df.drop(df.columns[0], axis=1, inplace=True)
print(df)

              Name  Year Gender State  Count
0             Emma  2004      F    AK     62
1          Madison  2004      F    AK     48
2           Hannah  2004      F    AK     46
3            Grace  2004      F    AK     44
4            Emily  2004      F    AK     41
5          Abigail  2004      F    AK     37
6           Olivia  2004      F    AK     33
7         Isabella  2004      F    AK     30
8           Alyssa  2004      F    AK     29
9           Sophia  2004      F    AK     28
10          Alexis  2004      F    AK     27
11       Elizabeth  2004      F    AK     27
12          Hailey  2004      F    AK     27
13            Anna  2004      F    AK     26
14         Natalie  2004      F    AK     25
15           Sarah  2004      F    AK     25
16          Sydney  2004      F    AK     25
17             Ava  2004      F    AK     23
18         Trinity  2004      F    AK     22
19           Haley  2004      F    AK     21
20          Kaylee  2004      F    AK     21
21          Taylor  2004      F    AK     21
22           Chloe  2004      F    AK     20
23            Ella  2004      F    AK     20
24       Mackenzie  2004      F    AK     20
25          Sierra  2004      F    AK     19
26           Kayla  2004      F    AK     18
27        Samantha  2004      F    AK     18
28             Zoe  2004      F    AK     18
29         Jessica  2004      F    AK     17
...            ...   ...    ...   ...    ...
1016365     Brooks  2014      M    WY      5
1016366     Calvin  2014      M    WY      5
1016367    Cameron  2014      M    WY      5
1016368     Dalton  2014      M    WY      5
1016369     Dawson  2014      M    WY      5
1016370     Edward  2014      M    WY      5
1016371      Elias  2014      M    WY      5
1016372       Gage  2014      M    WY      5
1016373     Hayden  2014      M    WY      5
1016374     Jasper  2014      M    WY      5
1016375       Jose  2014      M    WY      5
1016376     Kaiden  2014      M    WY      5
1016377      Kaleb  2014      M    WY      5
1016378      Kasen  2014      M    WY      5
1016379      Kyson  2014      M    WY      5
1016380      Lukas  2014      M    WY      5
1016381      Myles  2014      M    WY      5
1016382  Nathaniel  2014      M    WY      5
1016383      Nolan  2014      M    WY      5
1016384     Oakley  2014      M    WY      5
1016385       Odin  2014      M    WY      5
1016386     Paxton  2014      M    WY      5
1016387    Raymond  2014      M    WY      5
1016388    Richard  2014      M    WY      5
1016389      Rowan  2014      M    WY      5
1016390       Seth  2014      M    WY      5
1016391    Spencer  2014      M    WY      5
1016392       Tyce  2014      M    WY      5
1016393     Victor  2014      M    WY      5
1016394     Waylon  2014      M    WY      5

[1016395 rows x 5 columns]

In [ ]:
## 2. Show the distribution of male and female

In [16]:
YDis = df.groupby(['Year','Gender'])['Count'].sum()
print(YDis)

Year  Gender
2004  F         1523496
      M         1770488
2005  F         1528165
      M         1777150
2006  F         1564886
      M         1822851
2007  F         1576648
      M         1835769
2008  F         1544411
      M         1795907
2009  F         1493172
      M         1738944
2010  F         1439346
      M         1677202
2011  F         1422539
      M         1656606
2012  F         1422020
      M         1651838
2013  F         1419351
      M         1647092
2014  F         1446259
      M         1667352
Name: Count, dtype: int64

In [ ]:
## 3. Show the top 5 most preferred names

In [15]:
A = df.groupby(['Name'])['Count'].agg({'Count':sum})
print(A)
B = A.sort_values('Count', ascending=False).head(5)
for i in B.index.tolist():
    print(i)

            Count
Name
Aaban          12
Aadan          23
Aadarsh         5
Aaden        3426
Aadhav          6
Aadhya        453
Aadi          307
Aadin           5
Aadit          18
Aaditya        97
Aadya         300
Aadyn          69
Aahan          14
Aahana        124
Aahil         115
Aahna           7
Aaiden        170
Aaima           5
Aakash        123
Aalaya          5
Aalayah        99
Aaleah         10
Aaleyah       262
Aalia          51
Aaliah        206
Aalijah        15
Aaliya        288
Aaliyah     48306
Aaliyha        21
Aalyah        123
...           ...
Zyir           25
Zyire           5
Zykeria       416
Zykeriah        5
Zykerria       36
Zykia          31
Zykierra        5
Zykira         14
Zykiria        11
Zyla          106
Zylah          62
Zylan          22
Zylen          12
Zyler         171
Zymari          5
Zymarion       15
Zymere        100
Zymier         16
Zymiere        15
Zymir         321
Zymire         10
Zyon         1186
Zyonna         61
Zyquan         42
Zyquavious      6
Zyra           42
Zyrah          11
Zyren           6
Zyria          59
Zyriah         58

[17632 rows x 1 columns]
Jacob
Emma
Michael
Ethan
Isabella

E:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

In [ ]:
## 4.What is the median name occurence in the dataset

In [17]:
print(df.loc[:,"Count"].median())

11.0

In [ ]:
## 5. Distribution of male and female born count by states

In [18]:
SDis = df.groupby(['Gender', 'State'])['Count'].sum()
print(SDis)

Gender  State
F       AK         26250
        AL        215308
        AR        129712
        AZ        368567
        CA       2414063
        CO        260805
        CT        141350
        DC         35276
        DE         31312
        FL        915422
        GA        549637
        HI         37279
        IA        144764
        ID         72808
        IL        695312
        IN        344962
        KS        147216
        KY        210201
        LA        221859
        MA        294236
        MD        269915
        ME         43718
        MI        480990
        MN        276884
        MO        307848
        MS        127343
        MT         31622
        NC        501151
        ND         30054
        NE         88998
                  ...
M       ME         55650
        MI        557090
        MN        318917
        MO        364924
        MS        160800
        MT         44143
        NC        577529
        ND         39507
        NE        112369
        NH         56482
        NJ        487900
        NM        113542
        NV        156037
        NY       1172145
        OH        688343
        OK        228613
        OR        209445
        PA        682709
        RI         47939
        SC        237442
        SD         45443
        TN        398615
        TX       2005394
        UT        245324
        VA        466873
        VT         21353
        WA        395377
        WI        311758
        WV         93557
        WY         21912
Name: Count, Length: 102, dtype: int64